Distcare-adversal/data
Distcare-adversal/image
Distcare-adversal/logs
Distcare-adversal/models_and_logs

Distcare-final/model
Distcare-final/data

Distcare-final/logs
DistCare-plus/data
DistCare-plus/image
DistCare-plus/models_and_logs
DistCare-plus/model
